.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap)
}

.page-header {
    margin-bottom: 24px
}

.page-header h1 {
    font-size: 40px
}

.pagination {
    display: flex
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px
}

.pagination .next {
    margin-inline-start: auto
}

.social-icons {
    padding: 12px 0
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px
}

.social-icons a svg {
    height: 26px;
    width: 26px
}

code {
    direction: ltr
}

    button.skip-main {
        left:-999px;
        position:absolute;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
        z-index:-999;
    }
    button.skip-main:focus, 
    button.skip-main:active {
        left: 10px;
        top: 10px;
        width: auto;
        height: auto;   
        overflow:auto;
        z-index:999;
        padding: 4px 6px 4px 6px;
        color: #1D1E20;
        text-decoration: none;
        border: none;
        background: #EE9C51;
    }
    main {
        outline:none;
    }